<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>
    <h1>CREATE CATEGORY</h1>
    <form method="post" th:object="${category}" th:action="@{/categories/save}">
        <input type="hidden" th:field="*{id}">
        <input placeholder="Enter category name" th:field="*{name}" type="text">
        <input placeholder="Enter description" th:field="*{description}" type="text">

        <button type="submit">Save</button>
    </form>
</body>
</html>